.search-bar {
    border: 3px solid orchid;
    padding: 10px;
    border-radius: 15px;
    max-width: 300px;
    margin-left: 10;
  }
  .search-bar input {
    border: none;
    outline: none;
    padding: 10px;
  }  
  .search-bar button {
    background-color:orchid;
    color: white;
    border: none;
    cursor: pointer;
  }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
.nav1{
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: grey;
    padding: 20px;
    margin-right: 75px;
}
a{
color:black;
text-decoration: none;
margin-right: 75px;
}
.titre{
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: grey;
    padding: 20px;
    margin-right: 75px;
}
a{
color:black;
text-decoration: none;
margin-right: 75px;
}
img {
	width: 300px;
	height: 245px;
    align-items: center;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
h1{
    font-size: 50px;
    color: darkorchid;
    justify-content: space-around;
    margin-left: 600px;
    align-items: center;
    padding: 5px;
}
section{
    font-size: 26px;
    color: darkorchid;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    align-items: left;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 40px;
}  
.bio{
    color:black
}
h2{
    font-size: 30px;
    color: darkorchid;
    justify-content: space-around;
    margin-left: 550px;
    align-items: center;
    padding: 5px;
}
.articles{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.art-p{
text-align: left;
}
.art-titre{
text-align: left;    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    padding: 30px;